.about-container {
    text-align: center;
    padding: 40px;
    background: rgba(255, 255, 255, 0.384); /* Transparansi pada background */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .about-container h2 {
    color: #000000; /* Warna oren */
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 1.2rem;
    color: #000000; /* Warna oren */
    line-height: 1.6;
  }
  
  .about-video {
    margin-top: 30px;
  }
  
  .about-video-player {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #2c3e50;
  }
  